template(name="post")
	.post.shadow(id="{{_id}}" style="{{image}}")
		with author
			.mini-thumb(style="background-image:url({{picture}});height:{{thumbHeight}}")
			p.no-top.font-small {{name}}
		else
			.mini-thumb(style="height:{{thumbHeight}}")
			p.no-top.font-small -
		.align-bottom
			p.description {{description}}
			if currentUser
				if like
					+icon(
						icon="/icons/white-heart.svg" 
						iconClass="icon-small" 
						text="like" 
						textClass="font-small" 
						wrapperClass="clickable btn-like"
					)
				else
					+icon(
						icon="/icons/white-heart-empty.svg" 
						iconClass="icon-small" 
						text="like" 
						textClass="font-small" 
						wrapperClass="clickable btn-like"
					)
			+icon(
				icon="/images/facebook/FB-f-Logo__white_29.png" 
				iconClass="icon-small" 
				text="share" 
				textClass="font-small" 
				wrapperClass="clickable btn-share"
			)
			+icon(
				text=likesCount 
				textClass="font-small" 
				wrapperClass="float-right icon-height"
			)
